<h1><strong><%= @restaurant.name %></strong><br></h1>
<%= @restaurant.address %><br>
<%= @restaurant.category %><br><br>

<%= link_to "Back", restaurants_path %><br><br>

<%= link_to "Give a review!",  new_restaurant_review_path(@restaurant) %><br>


Customers review:
<% @restaurant.reviews.each do |review| %><br>
<div class="border"> <li><%= review.rating %>/5<br><%= review.content %><br>


<%= link_to "Delete", review_path(review), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>



 </li></div>
<% end %>
